<header class="header">
    <nav class="header__menu">
        <div class="header__menu--icon">

    </nav>
    <div class="header__logo">
        <img src="/assets/media/Logo.png" alt="Logo Infoglobo">
    </div>
</header>