

//Variáveis de coloração
$primaryColor: #004861;
$secondaryColor: #d5e11f;
$auxiliarColor: #cccccc;
$whiteText: #ffffff;
$blackText: #222222;

//Variáveis de tipografia
$fontFamily: Arial, Helvetica, sans-serif;