<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#004861">
    <link rel="icon" href="/assets/media/favicon.ico" />
    <link rel="icon" type="image/png" href="/assets/media/favicon.png" />
    <meta name="description" content="Infoglobo é uma das maiores empresa de jornais impresso e digital do Brasil, leva informação de qualidade aonde você estiver."
    />
    <title>Infoglobo</title>
    <link rel="stylesheet" type="text/css" href="/assets/style/style.css">
    <script src="/assets/script/jquery-3.3.1.min.js"></script>
    <script src="/assets/script/pagination.js"></script>
    <script src="/assets/script/sw.js"></script>
    <script src="/assets/script/sw-register.js"></script>
</head>

<body>
    {{> header}} {{{body}}} {{> footer}}
</body>

</html>